h1 {
  color:Yeloow
  font-family: cursive;
  font-size:39px;
  text-align: centre;
  Border-style: solid;
  Border color:Black;
}

h2{
  font-style: oblique;
  font-family: cursive;
  font-size: 21px;
  text-align: center;
  color:Black;
  font-Color:yellow;
  background-color: blue;
}
.Victor{
  font-size: 19px;
  font-family: cursive;
  font-Color: blue:;
}

}
